/* 
color: 
#0F0F0F; darker
#005B41; more bright
#232D3F; too bright
#008170; brighter
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: poppins , Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: poppins , Arial, Helvetica, sans-serif;
    height: 2000vh;
}

/* navbar start */

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    background-color: #008170;
    width: 100%;
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 100px;
    box-shadow: 1px 6px 8px 1px rgba(97, 97, 97, 0.151);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container a img {
    width: 40%;
}

.ul-navbar {
    display: flex;
}

.ul-navbar li {
    margin: 12px;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px rgba(80, 80, 80, 0.738);
}

.search-bar input {
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
    width: 15em;
    height: 40px;
    color: black;
    border: 1px solid rgba(66, 65, 65, 0.519);
}

::placeholder {
    color: black;
    font-weight: 500;
}

.button {
    display: flex;
    align-items: center;
}

.button button {
    cursor: pointer;
    font-weight: 500;
    background-color: white;
    margin: 8px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(56, 56, 56, 0.519);
}

/* navbar end */

/* content start */

.main-content {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(227, 226, 226);
    margin-top: 100px;
}

.image-container,
.text-container {
    width: 50%; 
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.text-container h1 {
    color: rgb(215, 124, 74);
    font-size: 50px;
}

.text-container h2 {
    width: 70%;
}


.me {
    width: 100%;
    height: 100.8vh;
    object-fit: cover;
}

.main-btn {
    background-color: rgb(215, 124, 74);
    color: rgb(237, 237, 237);
    padding: 20px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}


/* content end */

/* content 2 start */

.title-2 {
    padding: 20px;
    margin: 40px;
    text-align: center;
}

.container-main2 {
    width: 100%;
}

.pic-main2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-main2 img {
    width: 400px;
    margin: 20px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}
/* content 2 end */

/* content 3 start */

.pic-main3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic-main3 div {
    width: 450px;
    height: 500px;
    margin: 12px;
}

.pic-main3 img {
    width: 450px;
    height: 300px;
    object-fit: cover;
}

/* content 3 end */

/* footer start */

.footer-container {
    display: flex;
    position: fixed;
    bottom: 0;
    margin-top: 40px;
    color: white;
    background-color:#0F0F0F;
    width: 100%;
    height: 100px;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.socmed1 {
    cursor: pointer;
}

.footer-container a {
    text-decoration: underline;
    color: white;
    
}

/* footer end */